.card-product {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    width: 232px;
    padding: 0 1rem;
}

.card-product__photo {
    width: 100%;
}

.card-product__name {
    color: #333;
    font-size: 0.8125rem;
    line-height: 15px;
}

.card-product__price {
    color: #13abe1;
    font-size: 0.875rem;
    font-weight: 700;
}